.btn.btn-register {
    background-color: $green;
    padding: 10px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    color: $white;
}

.btn.btn-register:hover,
.btn.btn-register:focus {
    background-color: lighten($green, 5%);
    transition: .25s all ease;
}

.btn.btn-step-callout {
    @include button($dark-blue );
}

.btn.btn-step-callout:hover,
.btn.btn-step-callout:focus {
    background-color: lighten($dark-blue , 5%);
    transition: .25s all ease;
}

.btn.btn-form-submit {
    @include button($green);
}

.btn.btn-form-submit:hover,
.btn.btn-form-submit:focus {
    background-color: lighten($green , 5%);
    transition: .25s all ease;
}

.btn-media-fb {
    @include btn-media();
    background-color: #5476bf;
}

.btn-media-fb img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.btn-media-tw {
    @include btn-media();
    background-color: #2897e7;
}

.btn-media-tw img {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.btn-media-fb:hover,
.btn-media-fb:focus,
.btn-media-fb:visited,
.btn-media-tw:hover,
.btn-media-tw:focus,
.btn-media-tw:visited {
    @include btn-media-hover();
}

