.input-wrapper {
    padding: 1px;
    border: 1px solid $green;
    border-left-color: #23a58b;
    border-top-color: #23a58b;
    border-radius: 20px;
    position: relative;
}

.input-wrapper input {
    border: none;
    box-shadow: none;
    padding-left: 30px;
    width: 70.5%;
    border: none;
    border-radius: 18px 0 0 18px;
    padding: 13px 21px;
    background: #fff;
    float: left;
    font-size: 20px;
    padding-left: 100px;
    text-align: right;
}

.input-wrapper-sell {
    margin-right: 15px;
}

.input-wrapper-get {
    margin-left: 15px;
}

.input-wrapper-sell:after {
    content: "You have";
    display: block;
    position: absolute;
    left: 15px;
    top: 17px;
    font-size: 15px;
    color: $green;
    z-index: 100;
    font-weight: 700;
    text-transform: uppercase;
}

.input-wrapper-get:after {
    content: "You get";
    position: absolute;
    left: 15px;
    top: 17px;
    font-size: 15px;
    color: $green;
    z-index: 100;
    font-weight: 700;
    text-transform: uppercase;
}

.input-wrapper select {
    border: none;
    box-shadow: none;
    color: $black;
    font-weight: 600;
    padding-left: 10px;
    width: 25%;
}

.input-wrapper input:focus,
.input-wrapper input:visited,
.input-wrapper input:hover, 
.input-wrapper input:active, 
.input-wrapper select:focus,
.input-wrapper select:visited,
.input-wrapper select:hover,
.input-wrapper select:active {
    border: none;
    box-shadow: none;
}

textarea:focus, input:focus, select:focus, button:focus, a:focus{
    outline: none;
}

html input[disabled] {
    background-color: $darker-white;
}

.input-wrapper .dropdown-menu {
    min-width: 200px;
}

.input-wrapper .dropdown-menu li a span.currency-symbol {
    font-weight: 700;
    font-size: 18px;
    margin-right: 30px;
    width: 50px;
}

.input-wrapper .dropdown-menu li {
    border-bottom: 1px solid $light-grey;
}

.input-wrapper .dropdown-menu li a span.currency-img {
    margin: 0px;
    width: 50px;
    text-align: center;
}

.input-wrapper .dropdown-menu li a span.currency-name {
    font-weight: 300;
    font-size: 18px;
    display: inline-block;
    text-align: right;
    width: 100px;
    
}

.input-wrapper .dropdown-menu li a span {
    display: inline-block;
}

.input-wrapper .dropdown-menu>li>a {
    padding: 8px 20px 0;
}

.exchange-arrows {
    position: absolute;
    color: $black;
    right: -44px;
    top: 10px;
    font-size: 28px;
    display: block;
    cursor: pointer;

    &:hover, &:focus {
        cursor: pointer;
        font-size: 32px;
        top: 6px;
    }
}

.contact-form--success {
    color: #fff;
    font-size: 20px;
}

//form-control ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-touched

.form-control {
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #fff;
    font-size: 11px;
    padding: 8px;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
}

.form-control.ng-pristine.ng-invalid {
     border-color: #fff;
}

.form-control.ng-invalid {
    border-color: red;
}
