.input-wrapper {
    padding: 1px;
    border: 1px solid $green;
    border-left-color: #23a58b;
    border-top-color: #23a58b;
    border-radius: 20px;
}

.input-wrapper input {
    border: none;
    box-shadow: none;
    padding-left: 30px;
    width: 70%;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 20px;
}

.input-wrapper select {
    border: none;
    box-shadow: none;
    color: $black;
    font-weight: 600;
    padding-left: 10px;
    width: 25%;
}

.input-wrapper input:focus,
.input-wrapper input:visited,
.input-wrapper input:hover, 
.input-wrapper input:active, 
.input-wrapper select:focus,
.input-wrapper select:visited,
.input-wrapper select:hover,
.input-wrapper select:active {
    border: none;
    box-shadow: none;
}

textarea:focus, input:focus, select:focus, button:focus, a:focus{
    outline: none;
}