/* Header */

header {
    padding: 55px 0 85px;
    background: url("~/images/header-bg.jpg") no-repeat left top;
    background-size: cover; 
    border-bottom: 5px solid $green;
}

section.form-exchange {
    padding: 50px 0;
}

.section-payment-green {
    padding: 25px 0 20px;
    background-color: $green;
}

.section-visa {
    background-color: $dark-blue;
    padding: 8px 0;
}

.section-steps {
    padding: 25px 0 25px;
    background: url('~/images/steps-bg.png') no-repeat left top, $lighter-grey ;
    background-size: 100%;
}

.section-steps h3 {
    font-size: 46px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

.tile-steps {
    font-size: 54px;
    margin-bottom: 15px;
    border-radius: 50px;
    padding: 15px 25px;
    background: rgba($light-grey, .75);
    clear: both;
}

.tile-steps .left {
    float: left;
    width: 10%;
    text-align: center;
}

.tile-steps .right {
    float: left;
    width: 90%;
}

.tile-steps:after {
    content: "";
    display: table;
    clear: both;
}

.tile-steps h2 {
    font-size: 16px;
    font-weight: 600;
    color: $black;
    margin: 0;
    margin-top: 10px;
}

.tile-steps p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    line-height: 1.25;
}

.section-city {
    background: url('~/images/city-bg.jpg') no-repeat left top;
    background-size: cover;
    padding: 50px 0;
}

.section-city h4 {
    color:$white;
    font-size: 33px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 75px;
    position: relative;
}

.section-city h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.section-city h4:after {
    @include after-border(175px, $white, 3px);
    left: calc(50% - 88px);
    bottom: -20px;
}

.section-city p {
    text-align: center;
    font-size: 12px;
    color: $white;
}

.section-city img {
    margin: 30px auto;
}

.section-city .btn-form-submit {
    margin-top: 50px;
}


.section-feedback {
    background: $light-grey;
    padding: 50px 0;
}

.media-wrapper {
    background: $white;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
}

.media-wrapper img {
    float: left;
    width: 47px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
}

.media-wrapper h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 13px;
}

.media-wrapper .btn-media {
    position: absolute;
    right: 15px;
    top: 35px;
}

.media-wrapper .media-title {
    margin-bottom: 35px;
}

.media-wrapper p {
    margin-bottom: 15px;
    font-size: 13px;
    color: $black;
}

.section-feedback h4 {
    font-size: 34px;
    font-weight: 600;
    color: $black;
    margin-bottom: 50px;
    position: relative;
}

.section-feedback h4:after {
    @include after-border(70px, $green, 3px);
    left: calc(50% - 35px);
    bottom: -10px;
}

.section-bitcoin {
    background: url('~/images/bitcoin-bg.png') no-repeat left top;
    background-size: cover;
    padding: 130px 0;
}

.section-bitcoin h2 {
    text-transform: uppercase;
    color: $white;
    font-weight: 600;
    font-size: 60px;
    margin: 0 0 15px;
}

.section-bitcoin h3 {
    text-transform: uppercase;
    color: $white;
    font-weight: 300;
    font-size: 33px;
    margin: 0 0 50px;
}

.section-journals {
    padding: 50px 80px;
    background: $light-grey ;
}

.section-journals h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
}

.section-journals h2:after {
    @include after-border(70px, $green, 3px);
    left: calc(50% - 35px);
    bottom: -10px;
}

.section-connect {
    background: $white;
    padding: 40px 0;
}

.section-connect h2 {
    text-align: right;
    color: $black;
    border-right: 2px solid $green;
    padding: 25px 30px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: -15px;
}

footer {
    background: url('~/images/footer-bg.png');
    background-size: cover;
    padding: 40px 0 15px;
}

footer hr {
    border: none;
    border-bottom: 1px solid #474e5b;
    margin: 30px 0;
}

footer p {
    font-size: 9px;
    font-weight: 400;
    color: $white;
    text-align: center;
    margin: 0;
}

#exchange-form {
    margin: 30px 0;
}