/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}

@media (max-width: 1280px) {
    .section-journals ul li img {
        height: 20px;
    }

    .section-journals {
        padding: 40px 10px;
    }
}


@media (min-device-width: 768px)  and (max-width: 1024px) {
    h1.heading-rotate-90.heading-rotate-page-faq {
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    h1.heading-rotate-90 {
        font-size: 40px !important; 
        margin-top: 20px !important;
        width: auto !important;
        transform: rotate(0deg) !important;
    }

    ul.navbar-lg li a {
        font-size: 12px;
        padding: 10px 5px;
    }

    #exchange-form .btn.btn-form-submit {
        float: none !important;
        margin: 20px auto 0;
        width: 100%;
    }

    /* What is bitcoin sections */

.section-what {
    padding: 25px 0 0px;

    & h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        transform: rotate(0deg);
        font-weight: 100;
        width: auto;
        margin-top: 0;
        text-align: center;

        &:after {
            display: none;
        }
    }

    & .section-what-inner {
        padding: 0;
        text-align: center;

        & img {
            margin: 0 0 30px 0;
            display: block;
            margin: 0 auto 30px;
        }
    }
}

.section-safe {
    background: url("~/images/wib/pattern-2.png") no-repeat left 20px, #f3f3f3;
    img {
        margin: 50px 0 25px;
    }
    & h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        transform: rotate(0deg);
        font-weight: 100;
        width: auto;
        margin-top: 0;
        text-align: center;
    }

    & p {
        font-size: 20px;
    }
}

.border-bottom {
    width: 150px;
    height: 25px;
    margin: 15px auto;
    &.border-green {
        background: #77b239;
    }
}

.section-dollar {
    background: url("~/images/wib/pattern-3.png") no-repeat right -50px, #f3f3f3;
    padding: 50px 0 100px;
    & h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        transform: rotate(0deg);
        font-weight: 100;
        width: auto;
        margin-top: 0;
        text-align: center;
    }
    & p {
        font-size: 20px;
    }
    & img {
        margin-top: 20px;
        display: block;
        margin: 0 auto;
        max-width: 250px;
    }
}

.section-change-value {
    background: url("~/images/wib/pattern-4.png") no-repeat left top, #f3f3f3;
    padding: 0px 0 50px;
    & h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 45px;
        transform: rotate(0deg);
        font-weight: 100;
        width: auto;
        margin-top: 0;
        text-align: center;
        line-height: 1;

        & span {
            font-size: 48px;
            font-weight: 400;
        }

        &:after {
            display: none;
        }
    }
}

.section-why-use {
    background: url("~/images/wib/btn-bg.jpg") no-repeat left top, #f3f3f3;
    background-size: cover;
    padding: 20px 0;
    & h3 {
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        margin-bottom: 60px;

        strong {
            font-weight: 600;
        }
    }
}

.section-investment {
    background: url("~/images/wib/pattern-5.jpg") no-repeat left top,
    url("~/images/wib/pattern-6.jpg") no-repeat right top, #f3f3f3;
    padding: 50px 0;
    & h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 46px;
        transform-origin: left top;
        color: $black;
        font-weight: 100;
        text-transform: uppercase;
        color: #1a1c2b;
    }

    & p {
        font-size: 20px;
        margin-bottom: 30px;
    }
}
}