body {
    font-family: $Popins;
}

h1 {
    font-size: 43px;
    text-transform: uppercase;
    font-family: $Popins;
    font-weight: 300;
    margin: 50px 0 0;
    color: $white;
}

p {
    font-size: 20px;
    font-weight: 300;
    color: $black;
}

.input-wrapper i.cc { 
    font-size: 2rem; 
    display: inline-block; 
    margin: 0 1.3rem 1.3rem 0; 
    transition: 0.1s ease all; 
    color: $green;
}

h1.heading-rotate-90 {
    font-family: 'Montserrat', sans-serif;
    font-size: 86px;
    transform: rotate(-90deg);
    transform-origin: left top;
    color: $black;
    font-weight: 100;
    width: 410px;
    margin-top: 410px;
}

h1.heading-rotate-90.heading-page-atf {
    width: 570px;
    margin-top: 570px;
}

h1.heading-rotate-90.heading-page-rw {
    width: 450px;
    margin-top: 450px;
}

h1.heading-rotate-90.heading-page-tou {
    width: 350px;
    margin-top: 350px;
}

h1.heading-rotate-90.heading-page-rrp {
    width: 740px;
    margin-top: 740px;
}

h2 {
    font-size: 36px;
    color: $black;
    margin: 30px 0px 20px;
    font-weight: 300;
}

p {
    font-size: 16px;
}

ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.section-faq {
    padding: 50px 0;
}