body {
    font-family: $Popins;
}

h1 {
    font-size: 43px;
    text-transform: uppercase;
    font-family: $Popins;
    font-weight: 300;
    margin: 50px 0 0;
    color: $white;
}

p {
    font-size: 20px;
    font-weight: 300;
    color: $black;
}

.input-wrapper i.cc { 
    font-size: 2rem; 
    display: inline-block; 
    margin: 0 1.3rem 1.3rem 0; 
    transition: 0.1s ease all; 
    color: $green;
}

