<!DOCTYPE html>
<html lang="en" ng-app="buroka">
<head>
  <meta charset="UTF-8">
  <title>Buroka - Crypto Exchange</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bundle.css">
</head>
<body>


<div id="external-wrapper"></div>  
<div id="pop-up-wrapper"></div>
<header>
  <nav class="mobile-menu">
    <a id="sidenav-button--slide-left" class="ln-menu sidenav-button--slide-left" href="javascript:void(0)">
      <svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
      </svg>
    </a>
    <div class="mobile-menu-wrapper">
        <div class="text-center">
          <a href="javascript:void(0)" class="sidenav-menu__close ln-close">
              <svg width="24px" height="24px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="#000" fill-rule="evenodd">
                  <g transform="translate(-35.000000, -42.000000)">
                    <polygon points="53 49.875 39.3087499 49.875 45.5975 43.5862498 44 42 35 51 44 60 45.5862498 58.4137501 39.3087499 52.125 53 52.125"></polygon>
                  </g>
                </g>
              </svg>
            </a>
        </div>
        <br> 
        <ul class="navbar-lg">
            <li><a href="/">How it works</a></li>
            <li><a href="/faq">Faq</a></li>
            <li><a href="/what-is-bitcoin">What is bitcoin</a></li>
            <li><a href="">Login</a></li>
            <li><a href="" class="btn btn-register">Register</a></li>
        </ul>
    </div>  
  </nav>
  <div class="container">
      <nav>
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <a href="/"><img src="images/logo.png" alt="" class="pull-left logo"></a>
          </div>
          <div class="col-xs-12 col-sm-9">
              <ul class="navbar-lg">
                  <li><a href="/">How it works</a></li>
                  <li><a href="/faq">Faq</a></li>
                  <li><a href="/what-is-bitcoin">What is bitcoin</a></li>
                  <li><a href="">Login</a></li>
                  <li><a href="" class="btn btn-register">Register</a></li>
              </ul>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h1 class="text-center">Buroka makes it <strong>safe</strong> & <strong>easy</strong> to
              <strong>buy</strong> and <strong>sell bitcoin</strong> in <strong>nigeria</strong>
              </h1>
        </div>
      </div>
    </div>
</header>

<section class="section-faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <h1 class="heading-rotate-90 heading-page-atf">
          ANTI-FRAUD POLICY
        </h1>
      </div>
      <div class="col-sm-9 col-xs-12">
          <h2>1. POLICY STATEMENT</h2>
          <p>Buroka creates opportunities for the people and builds trust between them worldwide. Buroka is committed to conducting business in accordance with the highest ethical, professional and legal standards. The public, Buroka’s partners and Users’ have the right to expect that professional, competent and trustworthy people are employed by Buroka.</p>
          <p>Buroka will comply with applicable legislation. In line with applicable legislation Buroka has a ‘zero tolerance’ policy towards fraud, corruption, collusion, money laundering, financing of terrorism and other criminal conduct (jointly “Prohibited Conduct”) and will thoroughly investigate and seek to take disciplinary and/or legal action against those who perpetrate, are involved in, or assist with fraudulent or other improper actions in all Buroka activity and related transactions.</p>
          <p>Buroka will provide adequate and appropriate resources to implement the Anti-Fraud Policy and will ensure it is communicated and understood.</p>
          <h2>2. LEGISLATION COMPLIANCE</h2>
          <p>The Anti-Fraud Policy has been drafted to comply with the current applicable local and international legislation, including, but not limited to applicable EU legislation.
            Adherence to the Anti-Fraud Policy Buroka will ensure compliance with all relevant legislation and internal policies.
            </p>
          <h2>3. DEFINITIONS</h2>  
          <p>In pursuance of the Anti-Fraud Policy, Prohibited Conduct includes fraud, corruption, collusion, money laundering, financing of terrorism and other criminal conduct defined as follows:</p>
          <p><strong>A.</strong><br>Fraud: any act or omission, including a misrepresentation that knowingly or recklessly misleads, or attempts to mislead, a party to obtain a financial or other benefit or to avoid an obligation.</p>
          <p><strong>B.</strong><br>Corruption: offering, giving, receiving, or soliciting, directly or indirectly, anything of value to influence improperly the action of another party.</p>
          <p><strong>C.</strong><br>Collusion: arrangement between two or more parties designed to achieve an improper purpose, including influencing improperly the actions of another party.</p>
          <p><strong>D.</strong><br>D. Money laundering:</p>
          <p><strong>(a)</strong> the conversion or transfer of property, knowing that such property is derived from criminal activity or from an act of participation in such activity, for the purpose of concealing or disguising the illicit origin of the property or of assisting any person who is involved in the commission of such activity to evade the legal consequences of his action;</p>
          <p><strong>(b)</strong> the concealment or disguise of the true nature, source, location, disposition, movement, rights with respect to, or ownership of property, knowing that such property is derived from criminal activity or from an act of participation in such activity; </p>
          <p><strong>(c)</strong> the acquisition, possession or use of property, knowing, at the time of receipt, that such property was derived from criminal activity or from an act of participation in such activity; </p>
          <p><strong>(d)</strong> participation in, association to commit, attempts to commit and aiding, abetting, facilitating and counselling the commission of any of the actions mentioned in the foregoing points</p>
          <p><strong>E.</strong><br>Terrorist financing: provision or collection of funds, by any means, directly or indirectly, with the intention that they should be used or in the knowledge that they are to be used, in full or in part, in order to carry out any of the offences within the meaning of Articles 1 to 4 of Council Framework Decision 2002/475/JHA of 13 June 2002 on combating terrorism.</p>
          <p><strong>F.</strong><br>Criminal conduct: conduct, which constitutes an offence in any part of the world or would constitute an offence in any part of the world if it occurred there.</p>
          <h2>4. KEY RESPONSIBILITIES</h2>
          <p>Buroka performs a “Know-Your-Customer Policy” (KYC) due diligence on all new Users and a due diligence on all transactions in order to detect possible compliance or integrity concern. Such due diligence is performed in accordance with the requirements of the money laundering and terrorist financing activities regulations, pursuant to the terms of KYC.</p>
          <p>In view of the Anti-Fraud Policy Buroka is responsible for:</p>
          <ul>
            <li>ensuring efficient and effective systems, procedures and internal controls are in place to enable the prevention and detection of Prohibited Conduct;</li>
            <li>ensuring the Anti-Fraud Commissioner identifies Prohibited Conduct risks in their areas of business and that all systems, procedures and internal controls are properly implemented and enforced;</li>
            <li>ensuring all members of the operational anti-fraud department have a duty to report any internal and external suspicions or incidents of Prohibited Conduct;</li>
            <li>reviewing continuously its systems, procedures and internal controls through risk management processes and audit arrangements;</li>
            <li>reporting any suspicions regarding Prohibited Conduct to the relevant state authorities.</li>
          </ul>
          <h2>5. FRAUD DETECTION AND INVESTIGATION</h2>
          <p>Buroka’s Operational Anti-Fraud Department, in particular, the Anti-Fraud Commissioner, is the first line of detection, investigation and protection in preventing Prohibited Conduct through the Users and transactions appraisal process. The Anti-Fraud Commissioner will be responsible for the proper fulfillment of the Anti-Fraud Policy.</p>
          <p><strong>a) Authority</strong></p>
          <p>The Anti-Fraud Commissioner, through the Operational Anti-Fraud Department, working in close collaboration with the Nominated Officer (cf. Know-Your-Customer Policy), shall be responsible for:</p>
          <ul>
            <li>receiving reports of alleged or suspected Prohibited Conduct involving Buroka, its Users and/or related transactions;</li>
            <li>investigating such matters and cooperating directly with the Nominated Officer in order to facilitate the investigations;</li>
            <li>reporting its findings to the Buroka management and relevant authorities, as well as any other third party on a need-to-know basis.</li>
          </ul>
          <p>For situations requiring an urgent response, the Anti-Fraud Commissioner may take any necessary measures required for the investigation, notably to preserve evidence.</p>
          <p><strong>(b) Independence</strong></p>
          <p>The Operational Anti-Fraud Department shall enjoy complete independence in the exercise of its responsibilities. The Anti-Fraud Commissioner shall have full authority to open, pursue, close and report on any investigation on Prohibited Conduct within its remit without prior notice to, the consent of, or interference from any other person or entity.</p>
          <p><strong>(c) Professional Standards</strong></p>
          <p>All Prohibited Conduct investigations conducted by the Operational Anti-Fraud Department shall be fair and impartial, with due regard to the rights of the Users and persons or entities involved. The presumption of innocence applies to those alleged to have engaged in misconduct. Those involved in the Prohibited Conduct investigation (be those under investigation or those conducting the investigation) should be aware of their rights and obligations and ensure they are fully respected.</p>
          <p><strong>(d) Cooperation</strong></p>
          <p>All Users are required to cooperate with the Operational Anti-Fraud Department and the Anti-Fraud Commissioner promptly, fully, efficiently and in the manner specified by the Operational Anti-Fraud Department, including by answering relevant questions and complying with requests for information and records.</p>
          <p><strong>(e) Confidentiality</strong></p>
          <p>n accordance with Buroka internal rules on access to information, all information and documents collected and generated during a Prohibited Conduct investigation, not already in the public domain, shall be kept strictly confidential. The confidentiality of the information collected will be respected both in the interests of those concerned and the integrity of the investigation.</p>
          <p>In particular, during the Prohibited Conduct investigation the confidentiality will be respected in so far as it would not be contrary to the interests of the investigation.</p>
          <p>The Operational Anti-Fraud Department shall disclose such information and documents only to those persons or entities authorized to receive them or otherwise on a need-to-know basis.</p>
          <h2>6. MISCELLANEOUS</h2>
          <p>Buroka will review the Anti-Fraud Policy to reflect new legal and regulatory developments and ensure good practice.</p>
          <p class="text-upper">I WARRANT AND GUARANTEE THAT I HAVE NO INTENTION TO COMMIT ANY OF PROHIBITED CONDUCT ACTS DESCRIBED HEREIN; FURTHERMORE, I CONSENT TO ANY CHECKS DUE TO INVESTIGATION UNDER THE ANTI-FRAUD POLICY AND I AGREE TO COOPERATE FULLY AND PROMPTLY WITH THE ANTI-FRAUD COMMISSIONER WITHIN SUCH INVESTIGATION.</p>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-sm-offset-2">
        <dl class="footer-links-group">
          <dt>Company</dt>
          <dd><a href="">About Us</a></dd>
          <dd><a href="">Blog & News</a></dd>
        </dl>
      </div>
      <div class="col-xs-12 col-sm-2">
        <dl class="footer-links-group">
          <dt>Help & Support</dt>
          <dd><a href="">What is Bitcoin</a></dd>
          <dd><a href="">FAQ</a></dd>
          <dd><a href="">How it Works</a></dd>
          <dd><a href="">Help Center</a></dd>
        </dl>
      </div>
      <div class="col-xs-12 col-sm-2">
          <dl class="footer-links-group">
            <dt>other</dt>
            <dd><a href="/aml-kyc-policy">AML/KYC Policy</a></dd>
            <dd><a href="/anti-fraud-policy">Anti-fraud Policy</a></dd>
            <dd><a href="/privacy-policy">Privacy Policy</a></dd>
            <dd><a href="/refund">Refund Policy</a></dd>
            <dd><a href="/risk-warning">Risk Warning</a></dd>
            <dd><a href="/terms">Terms of Use</a></dd>
          </dl>
      </div>
      <div class="col-xs-12 col-sm-2">
          <dl class="footer-links-group">
            <dt>Contact us</dt>
          </dl>
      </div>
    </div>
  </div>
  <hr>
  <p>© 2017 buroka. All rights reserved | GRAPHORIC</p>
</footer>
<register-popup opened="false"></register-popup>

<script type="text/javascript" src="bundle.js"></script>
</body>
</body>
</html>