<!DOCTYPE html>
<html lang="en" ng-app="buroka">

<head>
    <meta charset="UTF-8">
    <title>Buroka - Crypto Exchange</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <link rel="stylesheet" href="bundle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


    <div id="external-wrapper"></div>
    <div id="pop-up-wrapper"></div>
    <header ng-controller="headerCtrl">
        <nav class="mobile-menu">
            <a id="sidenav-button--slide-left" class="ln-menu sidenav-button--slide-left" href="javascript:void(0)">
                <svg height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                </svg>
            </a>
            <div class="mobile-menu-wrapper">
                <div class="text-center">
                    <a href="javascript:void(0)" class="sidenav-menu__close ln-close">
                        <svg width="24px" height="24px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="#000" fill-rule="evenodd">
                                <g transform="translate(-35.000000, -42.000000)">
                                    <polygon points="53 49.875 39.3087499 49.875 45.5975 43.5862498 44 42 35 51 44 60 45.5862498 58.4137501 39.3087499 52.125 53 52.125"></polygon>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <br>
                <ul class="navbar-lg">
                    <li><a href="" ng-click="howItWorks(event)">How it works</a></li>
                    <li><a href="/faq">Faq</a></li>
                    <li><a href="/what-is-bitcoin">What is bitcoin</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="" class="btn btn-register">Register</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <a href="/"><img src="images/logo.png" alt="" class="pull-left logo"></a>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <ul class="navbar-lg">
                            <li><a href="" ng-click="howItWorks(event)">How it works</a></li>
                            <li><a href="/faq">Faq</a></li>
                            <li><a href="/what-is-bitcoin">What is bitcoin</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="" class="btn btn-register">Register</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <h1 class="text-center">Buroka makes it <strong>safe</strong> & <strong>easy</strong> to
                        <strong>buy</strong> and <strong>sell bitcoin</strong> in <strong>nigeria</strong>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <section class="section-faq">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <h1 class="heading-rotate-90">
                        Privacy policy
                    </h1>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <h2>General</h2>
                    <p>Buroka and its affiliates (hereinafter, "Buroka", "we", "us" or "our") are committed to protecting and
                        respecting your privacy. This Privacy Policy (together with our Terms and Conditions of Use) governs
                        our collection, processing and use of your Personal Information. We define "Personal Information"
                        as information which identifies you personally, e.g. your name, address, e-mail address, trades etc.
                    </p>
                    <p>The purpose of this Privacy Policy is to inform you of:</p>
                    <br>
                    <p>
                        <strong>1.</strong> the kinds of Personal Information which we may collect about you and how it may
                        be used;</p>
                    <p>
                        <strong>2.</strong> our use of information regarding IP Addresses and our use of cookies;</p>
                    <p>
                        <strong>3.</strong> any disclosure of Personal Information to third parties;</p>
                    <p>
                        <strong>4.</strong> your ability to correct, update and delete your Personal Information; and</p>
                    <p>
                        <strong>5.</strong> the security measures we have in place to prevent the loss, misuse, or alteration
                        of Personal Information under our control.</p>
                    <h2>Gathering and Use of Personal Information</h2>
                    <p>We may collect your Personal Information if you use the Site, open an Account to use the Platform or
                        perform any Transactions on the Platform. The types of Personal Information which we collect may
                        include:
                    </p>
                    <p>
                        <strong>1.</strong> your name;</p>
                    <p>
                        <strong>2.</strong> your photographic identification;</p>
                    <p>
                        <strong>3.</strong> your address;</p>
                    <p>
                        <strong>4.</strong> your phone number;</p>
                    <p>
                        <strong>5.</strong> your e-mail address;</p>
                    <p>
                        <strong>6.</strong> your banking details including account numbers;</p>
                    <p>
                        <strong>7.</strong> your date of birth; and</p>
                    <p>
                        <strong>8.</strong> your trades.</p>
                    <br>
                    <p>We may use your Personal Information for the following purposes:</p>
                    <p>
                        <strong>1.</strong> to allow you to open and operate an Account on the Platform;</p>
                    <p>
                        <strong>2.</strong> to enable you to complete Transactions on the Platform;</p>
                    <p>
                        <strong>3.</strong> if you contact us, to reply to your queries;</p>
                    <p>
                        <strong>4.</strong> to analyse use of our Site;</p>
                    <p>
                        <strong>5.</strong> as required for regulatory purposes;</p>
                    <p>
                        <strong>6.</strong> to provide you with information about products and promotions that may be of
                        interest to you, from ourselves and third parties, although only if you have specifically agreed
                        to receive such information;</p>
                    <p>
                        <strong>7.</strong> for market research e.g. surveying our Users' needs and opinions on issues, such
                        as our performance etc.</p>
                    <p>We will process your Personal Information only for the purpose(s) for which it has been provided to us.</p>
                    <h2>IP Addresses</h2>
                    <p>We may collect information about your computer, including where available your IP address, operating
                        system and browser type, for system administration and to report aggregate information to our advertisers.
                        This is statistical data about our users' browsing actions and patterns and does not identify any
                        individual.
                    </p>
                    <h2>Cookies</h2>
                    <p>We use a browser feature known as a "cookie", which assigns a unique identification to your computer.
                        Cookies are typically stored on your computer's hard drive. Information collected from cookies is
                        used by us to evaluate the effectiveness of our Site, analyse trends, and administer the Platform.
                        The information collected from cookies allows us to determine such things as which parts of our Site
                        are most visited and difficulties our visitors may experience in accessing our Site. With this knowledge,
                        we can improve the quality of your experience on the Platform by recognising and delivering more
                        of the most desired features and information, as well as by resolving access difficulties. We also
                        use cookies and/or a technology known as web bugs or clear gifs, which are typically stored in emails
                        to help us confirm your receipt of, and response to, our emails and to provide you with a more personalised
                        experience when using our Site.</p>
                    <p>We use third party service provider(s), to assist us in better understanding the use of our Site. Our
                        service provider(s) will place cookies on the hard drive of your computer and will receive information
                        that we select that will educate us on such things as how visitors navigate around our site, what
                        products are browsed, and general Transaction information. Our service provider(s) analyses this
                        information and provides us with aggregate reports. The information and analysis provided by our
                        service provider(s) will be used to assist us in better understanding our visitors' interests in
                        our Site and how to better serve those interests. The information collected by our service provider(s)
                        may be linked to and combined with information that we collect about you while you are using the
                        Platform. Our service provider(s) is/are contractually restricted from using information they receive
                        from our Site other than to assist us.</p>
                    <p>By using our Site you are agreeing that we may use cookies for the purposes set out above.</p>
                    <h3>Disclosure of Personal Information</h3>
                    <p></p>
                    <p>We use the Personal Information for the purposes indicated at the time you provide us with such information,
                        and/or otherwise for the purposes set out in this Privacy Policy and/or as otherwise permitted by
                        law.
                    </p>
                    <p>We may make available the Personal Information that you provide to us to our affiliates, agents, representatives,
                        trusted service providers and contractors for these limited purposes.</p>
                    <p>We may also share Users’ Personal Information with financial institutions, insurance companies or other
                        companies in the case of a merger, divestiture, or other corporate re-organisation.</p>
                    <p>We may also share Users' Personal Information with law enforcement or regulatory agencies, as may be
                        required by law.</p>
                    <p>Any third party which receives or has access to Personal Information shall be required by us to protect
                        such Personal </p>
                    <p>Information and to use it only to carry out the services they are performing for you or for Buroka, unless
                        otherwise required or permitted by law.</p>
                    <p>We will ensure that any such third party is aware of our obligations under this Privacy Policy and we
                        will enter into contracts with such third parties by which they are bound by terms no less protective
                        of any Personal Information disclosed to them than the obligations we undertake to you under this
                        Privacy Policy or which are imposed on us under applicable data protection laws.</p>
                    <h2>Correction⁄Updating⁄Deletion of Personal Information</h2>
                    <p>You have the right to access your Personal Information and to require the correction, updating and blocking
                        of inaccurate and/or incorrect data by sending an email to us at:
                        <a href="mailto:webmaster@buroka.com">webmaster@buroka.com</a>
                    </p>
                    <p>You may also request the deletion or destruction of both the Account and Personal Information by sending
                        an email to us at: webmaster@buroka.com. Buroka will action your request only where this is not inconsistent
                        with its legal and regulatory obligations.</p>
                    <p>Upon your written request, we will inform you of the Personal Information relating to you that we hold
                        and the use and general disclosure of your Personal Information. We will also give you a copy of
                        the Personal Information we have retained. There may be a minimal charge for accessing your Personal
                        Information.
                    </p>
                    <h2>Security</h2>
                    <p>We have implemented security measures to ensure the confidentiality of your Personal Information and
                        to protect your Personal Information from loss, misuse, alteration or destruction. Only authorised
                        personnel of Buroka have access to your Personal Information, and these personnel are required to
                        treat the information as confidential. The security measures in place will, from time to time, be
                        reviewed in line with legal and technical developments.</p>
                    <h2>Retention of Personal Information</h2>
                    <p>We will hold your Personal Information only for as long as it is necessary for us to do so, having regard
                        to the purposes described in this Privacy Policy and our own legal and regulatory requirements. In
                        accordance with our record keeping obligations we will retain Accounts and Personal Information for,
                        at least a period of five years after they are closed by Users.</p>
                    <h2>Links</h2>
                    <p>There may be links from our Site to other sites and resources provided by third parties. This Privacy
                        Policy applies only to our Site. Accessing those third party sites or sources requires you to leave
                        our Site. We do not control those third party sites or any of the content contained therein and you
                        agree that we are in no way responsible or liable for any of those third party sites, including,
                        without limitation, their content, policies, failures, promotions, products, services or actions
                        and/or any damages, losses, failures or problems caused by, related to or arising from those sites.
                        We encourage you to review all policies, rules, terms and regulations, including the privacy policies,
                        of each site that you visit.</p>
                    <h2>Marketing</h2>
                    <p>You have the right to ask us not to process your Personal Information for marketing purposes. You can
                        exercise your right to prevent such processing by checking certain boxes on the forms we use to collect
                        your Personal Information. You can exercise the right at any time by contacting us at
                        <a href="mailto:webmaster@buroka.com">webmaster@buroka.com</a>
                    </p>
                    <h2>Changes</h2>
                    <p>Our Site policies, content, information, promotions, disclosures, disclaimers and features may be revised,
                        modified, updated, and/or supplemented at any time and without prior notice at the sole and absolute
                        discretion of Buroka. If we change this Privacy Policy, will take steps to notify all users by a
                        notice on our Site and will post the amended Privacy Policy on the Site.</p>
                    <h2>Contact Us</h2>
                    <p>If you have any questions, comments, or concerns regarding our Privacy Policy and/or practices as it
                        or they relate to the Platform, please contact us at the following e-mail address, address and telephone
                        number:
                    </p>
                    <p>E-Mail:
                        <a href="mailto:support@buroka.com">support@buroka.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer ng-controller="footerCtrl">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-sm-offset-2">
                    <dl class="footer-links-group">
                        <dt>Company</dt>
                        <dd><a href="">About Us</a></dd>
                        <dd><a href="">Blog & News</a></dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <dl class="footer-links-group">
                        <dt>Help & Support</dt>
                        <dd><a href="/what-is-bitcoin">What is Bitcoin</a></dd>
                        <dd><a href="/faq">FAQ</a></dd>
                        <dd><a href="" ng-click="howItWorks(event)">How it works</a></dd>
                        <dd><a href="">Help Center</a></dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <dl class="footer-links-group">
                        <dt>Legal</dt>
                        <dd><a href="/aml-kyc-policy">AML/KYC Policy</a></dd>
                        <dd>
                            <a href="/anti-fraud-policy">Anti-fraud Policy</a>
                        </dd>
                        <dd>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </dd>
                        <dd>
                            <a href="/refund">Refund Policy</a>
                        </dd>
                        <dd>
                            <a href="/risk-warning">Risk Warning</a>
                        </dd>
                        <dd>
                            <a href="/terms">Terms of Use</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <dl class="footer-links-group">
                        <dt>Contact us</dt>
                    </dl>
                </div>
            </div>
        </div>
        <hr>
        <p>© 2017 buroka. All rights reserved | GRAPHORIC</p>
    </footer>
    <register-popup opened="false"></register-popup>
    <how-it-works-pop-up howopened="false"></how-it-works-pop-up>

    <script type="text/javascript" src="bundle.js"></script>
</body>
</body>

</html>